@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #6200EE;
    --color-secondary: #0984e3;
    --color-white: #FFFFFE;
    --color-green: #05D361;
    --color-black: #252525;
}

body {
    font-family: 'Roboto';
    background-color: var(--color-secondary);
}


/****HEADER***/

.header {
    background: var(--color-white);
}

.content {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
}

.content::before,
.content::after {
    content: '';
    display: table;
    clear: both;
}

.header-logo {
    display: block;
    max-width: 64px;
    max-height: 64px;
    float: left;
}

.header-logo img {
    width: 100%;
    display: block;
    color: #FFF;
    margin-left: 10px;
    color: var(--color-primary);
}


/****MENU***/

.header-menu {
    float: left;
}

.header-menu {
    padding-top: 10px;
    padding-left: 20px;
}

.header-menu ul {
    list-style: none;
}

.header-menu li {
    display: inline-block;
    text-decoration: none;
}

.header-menu li+li {
    padding-left: 10px;
}

.header-menu a {
    display: block;
    font-size: 1.125em;
    padding: 10px;
    text-decoration: none;
    color: var(--color-black);
    position: relative;
}

.header-menu a.active {
    font-weight: bold;
    color: var(--color-green);
}

.header-menu ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--color-green);
    position: absolute;
    left: 10px;
    bottom: 6px;
    transition: width;
}

.header-menu ul li a:hover::after {
    width: calc(100% - 20px);
    transition: width 200ms ease-in-out 100ms;
}


/***CARD****/

.card {
    background-color: var(--color-white);
    width: 800px;
    min-height: 400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, .4);
    animation: up 200ms ease-out;
}

@keyframes up {
    to {
        opacity: 0;
        transform: translateY(15px);
    }
    from {
        opacity: 1;
    }
}


/*
.avatar {
    background: url('https://source.unsplash.com/collection/8353395/300x300') no-repeat top center /cover;
}
*/


/******DETAILS*****/

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 16px 0;
}

.details .item:last-child {
    border-bottom: none;
}

.details h3,
.details .item div:nth-child(1) {
    font-size: 0.875em;
    line-height: 1.5em;
    color: #aaa;
    font-weight: normal;
}

.details .item div:nth-child(2),
.details .item div:nth-child(3) {
    color: #222;
    font-weight: bold;
    font-size: 1em;
}

.details h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-secondary);
}

.details .item div:nth-child(2) span {
    display: inline-block;
    padding: 8px 16px;
    background: var(--color-black);
    color: var(--color-white);
    border-radius: 24px;
    margin-top: 8px;
    margin-right: 4px;
    font-size: 0.75em;
}


/* FORM */

input {
    width: 100%;
    color: #222;
    font-weight: bold;
    font-size: 1em;
    padding: 8px 16px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px;
}

input:focus {
    border-radius: 8px;
}

input::placeholder {
    font-weight: normal;
}

input[type="radio"] {
    width: initial;
}

.label-radio {
    padding: 4px 0px;
}

.label-radio label {
    font-size: 0.75em;
}

button[type="submit"],
a.button {
    background: var(--color-secondary);
    width: 100%;
    color: var(--color-white);
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    padding: 8px 32px;
    font-size: 1em;
}

a.button {
    display: block;
    text-align: center;
    text-decoration: none;
}

.button-delete button[type="submit"] {
    background: none;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}