* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --color-black: #060606;
    --color-rocket: #715AC1;
    --color-rocket-black: #7155DD;
    --color-green: #50fa7b;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-rocket);
    color: white;
}

header {
    padding: 30px;
    background-color: var(--color-rocket);
    border-bottom: #7155DD 3px solid;
}

header div {
    text-align: center;
}

header div a {
    margin: 0 16px;
    padding: 10px 5px;
    color: white;
    font-size: 1.125em;
    text-decoration: none;
}

header div a:hover {
    opacity: .8;
    color: var(--color-green);
}

.sobre {
    text-align: center;
    margin-top: 20px;
}

.sobre img {
    height: 260px;
    border-radius: 50%;
    border: white 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sobre h1 {
    font-size: 2.5em;
    line-height: 1.4em;
}

.sobre h2 {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.8em;
    line-height: 1.2em;
    opacity: 0.8;
}

.sobre p {
    max-width: 600px;
    margin: 10px auto;
    font-size: 1.125;
}

.sobre h3 {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.125;
}

.links {
    text-align: center;
    margin: 10px 10px;
}

.links a {
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 1.125em;
    color: white;
    display: inline-block;
}

.links a:hover {
    text-decoration: underline;
    opacity: 0.8;
    color: var(--color-green);
}