{% extends "layout.njk" %} 

{% block title %}
<title>Sobre - Rocketseat</title> 
{%endblock%} {

{% block content %}
<div class="sobre">
    <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="">
    <h1>Rocketseat</h1>
    <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
    <p> No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>
    <h3>Principais tecnologias:</h3>
    <ul>
        <li>Javascript</li>
        <li>Node</li>
        <li>ReactJS</li>
    </ul>
</div>

<div class="links">
    <a href="https://github.com/Rocketseat" target="_blank">Github</a>
    <a href="https://www.linkedin.com/school/rocketseat/about/" target="_blank">Linkedin</a>
    <a href="https://twitter.com/rocketseat" target="_blank">Twitter</a>
</div>

{% endblock %}