<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    {% block title %}
        <title>Gym Manager</title>
    {% endblock %}
</head>

<body>
    <header class="header">
      <div class="content">
            <a class="header-logo" href="/">
                <img src="/img/gym.svg" alt="logo gym manager"/>
            </a>
            <nav class="header-menu">
                <ul>
                    <li><a href="/instructors">Instructors</a></li>
                    <li><a href="/members">Members</a></li>
                </ul>
            </nav>
        </div>
    </header>


    {%block content%}

    {% endblock %}

    <script src="/js/main.js"></script>
    
</body>
</html>