{% extends "layout.njk" %}

{% block content %}
    <div class="card table-container">
        <a href="/members/create">Novo</a>
        
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>

                {% for member in members %}
                    <tr>
                        <td>
                        <span style="background: url('{{member.avatar_url}}') no-repeat top center /cover"></span>
                        {{member.name}}</td>
                        <td>{{member.email}}</td>
                        <td>
                            <a href="/members/{{member.id}}/edit">Editar</a>
                            <a href="/members/{{member.id}}">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
                

            </tbody>
        
        </table>
           

    </div>
{% endblock %}